body{
    padding: 1%;
margin: 1%;
}
#page{
max-width: 1000px;
margin: 0px auto;
}
header{
height: 150px;
background-color:azure;
background-image:url('image/1.jpg');
position: relative;

}
nav{
line-height: 25px;
background-color: bisque;
text-align: center;

}
section{
width: 100%;
}
article{
height: 40px;
width: 100%;
clear: both;
text-align: center;

}
aside{
 min-height: 230px;
background-color:white;
width: 100%;
clear: both;


}
footer{
height: 40px;
background-color: white;
clear:both;
border-top: 3px double darkturquoise;
text-align: center;
color: red;
border-bottom: 3px double darkturquoise;
border-left: 3px double darkturquoise;
border-right: 3px double darkturquoise;
}
.col-25{
width: 33%;
float: left;
}
.prod>a{
font-variant: small-caps;
color:black;
font-size: larger;
}
.prod{
border-radius: 10px;
box-shadow: 0 0 5px gray;
margin: 5px;
padding: 5px;
text-align: center;
position: relative;
background-color: white;
}
.prod>a:hover{
    color:blue;
}
.u{
    text-align: center;  
}
.u>a{
    font-variant: small-caps;
color:blue;
font-size: larger;
}
.u>a:hover{
    color: yellow;
}
.menu>ul>li{
display: inline-block;
position: relative;
}
.menu>ul>li>a{
display: block;
text-decoration: none;
font-variant: small-caps;
font-size: larger;
color: white;
padding: 0 10px;
line-height: 40px;
}
.menu>ul{
padding: 0px;
margin: 0px;
list-style: none;
border-radius: 3px;
background-color: orangered;
text-align: center;
}
.menu>ul>li>a:hover{
color: yellow;
}
.menu ul ul{
position: absolute;
display: none;
padding: 0px;
margin: 0px;
list-style: none;
border-radius: 3px;
width: 200px;
background-color: white;
box-shadow: 0 0 1 gray;
}
.menu ul ul a{
display: block;
line-height: 30px;
color: orangered;
text-decoration: none;
font-variant: small-caps;
font-size: larger;
padding: 0 10px;
}
.menu>ul>li:hover>ul{
display: block;
z-index: 1;
height: auto;
}
.menu ul ul a:hover{
background-color: orangered;
color: white;
}


.top-right{
position: absolute;
top: 0px;
right: 0px;
border-bottom-left-radius: 30px;
padding: 5px 10px 5px 20px;
background-color: orangered;

}
.top-right a{
text-decoration: none;
color: white;
font-size: 20px;
font-variant: small-caps;
font-weight: bolder;
}
.top-right a:hover{
color: yellow;
text-shadow: 0 0 10px blue;
}
.form-lg{
    margin: 0 auto;
    width: 300px;
}

h2{
    text-align: center;
    font-weight: bolder;
    text-shadow: 0 0 15px blue;
    color: white;
}

label{
    margin-bottom: 10px;
}

input{
    margin-bottom: 10px;
}
.sach>.name{
    font-variant: small-caps;
    color: red;
    font-size: larger;
}
.sach{
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: relative;
}
.sach>.image{
    max-width: 98%;
    height: 200px;
    margin-bottom: 10px;
}
.col-20{
    width: 33%;
    float: left;
}
.detail{
    width: 100%;
}
.detail> .detail-img{
    width: 40%;
    float: left;
}
.detail> .detail-thongtin{
    width: 60%;
    float: right;
}